<div class="jumbotron">
	<div class="container center">
		<h1 class="cabin" style="color: #eb9683;">NEARBY</h1>
		<br>
		<h3 class="asar" style="margin-top: -10px;">A place for traveling nearby.</h3>
		<%= image_tag "buffalo_icon.png", class: "img-responsive", :style => "margin: 0 auto;" %>
	</div>
</div>